{% extends 'base.template.html' %}

{% block content %}
<h1>Your Shopping Cart</h1>
<a href="{% url 'checkout' %}" class="btn btn-success mb-3">Checkout</a>
<ul class="list-group">
    {% for key, item in cart.items %}
    <li class="list-group-item">
    {{item.title}}
    <p>
        ${{item.cost}}
    </p>
    <p>
        <form method="POST" action="{% url 'update_cart_quantity' book_id=item.id %}">
        {% csrf_token %}
        Quantity: <input type="text" style="width: 30px" name="qty" value="{{item.qty}}"/>
        <input type="submit" class="btn btn-success btn-sm" value="Update quantity"/>
    </form>
    </p>

    <p>Sub-total:${{item.total_cost}}</p>

    <a href="{% url 'remove_from_cart' book_id=item.id %}" class="btn btn-danger">Remove</a>
    </li>    
    {% endfor %}
</ul>

{% endblock %}